.quiz-page {
  padding: 48px 24px 48px 24px;

  .quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--background-color);
    height: 100%;

    .question-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      background: var(--background-color);
      height: 100%;
      padding: 0 0;
      border-radius: 5px;
      overflow: hidden;
      overflow-y: auto;

      @media (min-width: 800px) {
        padding: 24px;
      }

      h2 {
        font-size: 1.75rem;
        color: var(--text-color);
        margin-bottom: 15px;
        background: var(--background-color);

        > span.question-count {
          font-size: 0.8rem;
          color: var(--gray-color-10);
        }
      }

      .question-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        p {
          color: var(--text-color);
          font-size: 1rem;
          margin-bottom: 20px;
        }
      }
    }

    .quiz-button-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // position: fixed;
      // bottom: 0;
      // left: 50%;
      gap: 10px;
      width: 100%;
      max-width: 640px;
      // background: var(--background-color);

      .quiz-options {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 6px;

        button {
          display: flex;
          align-items: center;
          justify-content: start;
          text-align: left;
          padding: 9px;
          width: 100%;
          font-size: 0.9rem;
          background: var(--gray-color-13);
          color: var(--text-color);
          border: 2px solid var(--gray-color-13);
          cursor: pointer;
          gap: 9px;

          // &:hover {
          //   background: var(--gray-color-12);
          // }

          > span {
            display: inline-block;
            font-weight: bold;
          }

          &:hover {
            border: 2px solid var(--gray-color-12);
          }

          &.selected {
            border: 2px solid var(--primary-color);
            background: var(--primary-background-color);
            color: var(--primary-color-text);
          }
        }
      }

      > div.quiz-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;

        > button {
          width: 25%;
          font-size: 1rem;

          &.finish-button {
            width: 50%;
            background: var(--primary-color);
            border: 2px solid var(--primary-color);
            color: white;
          }
        }
      }
    }
  }
}

h1.quiz-to-history {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-color-12);

    &:hover {
      color: var(--gray-color-10);
    }

    > p {
      font-size: 1rem;
    }

    > span {
      font-size: 1.2rem;
      margin-bottom: -2px;
    }
  }
}

.subject-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 24px;

  > .subject-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--background-color);
    padding: 12px;
    border: 2px solid var(--gray-color-13);

    > p {
      display: flex;
      align-items: center;
      margin: 0;
      color: #666;

      &.subject-name {
        font-weight: 500;
        color: #333;

        > span {
          margin-right: 6px;
        }
      }
    }

    > .subject-card-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      > .subject-info {
        font-size: 0.8rem;
        color: var(--gray-color-10);
      }

      > button {
        &:hover {
          background: var(--primary-background-color);
          color: var(--primary-color-text);
          border: 2px solid var(--primary-color);
        }
      }
    }
  }
}
