.options {
  &.true-false-options {
    display: flex !important;
    flex-direction: row !important;
    gap: 6px !important;

    > button {
      font-size: 2rem !important;
      justify-content: center !important;
      align-items: center !important;
      width: 50% !important;
      height: 72px !important;
    }
  }
}
