.question-bank-container {
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--background-color);
  padding: 48px 24px 176px 24px;
  overflow: hidden;
  overflow-y: auto;

  @media (min-width: 800px) {
    padding: 48px 24px;
    padding-bottom: 176px;
  }

  h3 {
    position: sticky;
    top: -48px;
    color: var(--text-color);
    margin-bottom: 24px;
    padding: 12px 9px;
    text-align: center;
    background-color: var(--background-color);
    border-bottom: 3px solid var(--gray-color-12);
  }

  .search-section {
    margin: 24px 0;
    display: flex;
    justify-content: center;
    width: 100%;

    .search-input {
      width: 100%;
      padding: 12px 15px;
      border: 2px solid var(--gray-color-13);
      font-size: 1rem;

      &:focus {
        border-color: var(--primary-color);
      }
    }
  }

  .questions-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .question-item {
      background: var(--background-color);
      padding: 18px;
      border: 2px solid var(--gray-color-13);

      .question-header {
        display: flex;
        gap: 12px;
        margin-bottom: 15px;

        .question-number {
          margin-bottom: 6px;
          font-size: 1.2rem;
          font-weight: bolder;
          font-style: italic;
          color: var(--primary-color);
        }

        .question-text {
          color: var(--text-color);
          font-size: 1.1rem;
        }
      }

      .options {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 15px 0;

        .option {
          padding: 15px;
          background: var(--gray-color-13);
          color: var(--text-color);

          &.correct-answer {
            background: var(--correct-color);
            color: white;
          }
        }
      }

      .answer-info {
        margin-top: 10px;
        color: var(--text-color);

        .answer-label {
          font-weight: bold;
        }

        .answer {
          color: var(--correct-color);
          font-weight: bold;
          margin-left: 8px;
        }
      }
    }
  }

  .back-btn {
    position: fixed;
    bottom: 108px + 12px;
    left: 24px;
  }

  &.hidden {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
}
