.timer {
  z-index: 100;
  position: fixed;
  top: 20px;
  right: 20px;
  background: var(--gray-color-13);
  padding: 9px 12px;
  font-size: 1.2rem;
  color: var(--text-color);

  &:hover {
    background: var(--gray-color-12);
  }
}
