.subjects-section {
  margin-bottom: 30px;

  .subjects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
    margin-top: 24px;
  }

  .subject-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
    background: white;
    border: 2px solid var(--gray-color-13);

    &:hover {
      border: 2px solid var(--gray-color-12);
    }

    &.selected {
      border: 2px solid var(--primary-color);
    }

    &.locked {
      cursor: not-allowed;
    }

    p {
      display: flex;
      align-items: center;
      margin: 0;
      color: #666;

      &.subject-name {
        font-weight: 500;
        color: #333;

        > span {
          margin-right: 6px;
        }
      }
    }
  }
}

span.lock-time {
  padding: 3px 6px;
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-size: 0.8rem;
  width: fit-content;
  color: var(--gray-color-10);
  border: 1px solid var(--gray-color-13);

  &.locked {
    border: 1px solid var(--warning-secondary-color);
    color: var(--warning-color);
  }

  > span {
    margin-right: 3px;
    font-size: 1rem;
  }
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

// single bank list
.single-bank {
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--background-color);
  padding: 48px 12px 48px 12px;
  overflow: hidden;
  overflow-y: auto;

  @media (min-width: 800px) {
    padding: 48px 24px;
    padding-bottom: 176px;
  }

  &.page-animation {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }

  div.single-bank-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    h2 {
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: sticky;
      top: -48px;
      color: var(--text-color);
      padding: 18px 12px;
      text-align: center;
      background-color: var(--background-color);

      > span.lock-time {
        margin-top: 12px;
      }
    }

    > .locked-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      > p {
        color: var(--gray-color-5);
      }

      > .unlock-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        padding: 6px 9px;
        border: 2px solid var(--gray-color-12);

        > p {
          &:first-child {
            color: var(--gray-color-5);
          }
        }

        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
      }
    }

    .search-section {
      z-index: 100;
      margin: 0;
      margin-bottom: 12px;
      display: flex;
      justify-content: center;
      position: sticky;
      top: 12px;
      width: 100%;
      background-color: var(--background-color);

      .search-input {
        width: 100%;
        padding: 12px 15px;
        border: 2px solid var(--gray-color-12);
        font-size: 1rem;

        &:focus {
          border-color: var(--primary-color);
        }
      }
      border-radius: 0 0 12px 12px;
      -webkit-border-radius: 0 0 12px 12px;
      -moz-border-radius: 0 0 12px 12px;
      -ms-border-radius: 0 0 12px 12px;
      -o-border-radius: 0 0 12px 12px;
    }

    .questions-list {
      display: flex;
      flex-direction: column;
      gap: 9px;

      .question-item {
        background: var(--background-color);
        padding: 12px;
        border: 2px solid var(--gray-color-13);

        .question-header {
          display: flex;
          gap: 12px;
          margin-bottom: 15px;

          &.true-false {
            margin-bottom: 0;
          }

          span.question-number {
            margin-bottom: 6px;
            font-size: 1.2rem;
            font-weight: bolder;
            font-style: italic;
            color: var(--primary-color);
          }

          // true-false answer
          span {
            font-size: 1.75rem;
            font-weight: bolder;

            &.true-answer {
              color: var(--correct-border-color);
            }
            &.false-answer {
              color: var(--wrong-border-color);
            }
          }

          .question-text {
            color: var(--text-color);
            font-size: 1rem;
          }
        }

        .options {
          display: flex;
          flex-direction: column;
          gap: 6px;
          margin-top: 12px;

          .option {
            padding: 9px 12px;
            background: var(--gray-color-13);
            color: var(--text-color);
            font-size: 0.9rem;

            &.correct-answer {
              border: 2px solid var(--correct-border-color);
              background: var(--correct-background-color);
              color: var(--correct-text-color);
              font-weight: 500;
            }
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
          }
        }

        .answer-info {
          margin-top: 10px;
          color: var(--text-color);

          .answer-label {
            font-weight: bold;
          }

          .answer {
            color: var(--correct-color);
            font-weight: bold;
            margin-left: 8px;
          }
        }
      }

      .vocabulary-content {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: min-content;
        border: 2px solid var(--gray-color-13);

        > .word {
          display: flex;
          flex-direction: column;
          padding: 12px;
          width: 100%;

          > .english {
            margin-bottom: 3px;
            font-size: 1rem;
            font-weight: bold;
          }

          > .chinese {
            font-size: 0.8rem;
            color: var(--text-color);
          }
        }

        > .volume-up {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 48px;
          color: var(--gray-color-10);
        }
      }
    }

    > .back-btn {
      z-index: 100;
      position: fixed !important;
      bottom: 24px;
      right: 24px;
    }

    &.hidden {
      transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
    }
  }

  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  transition: 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.65s cubic-bezier(0.23, 1, 0.32, 1);
}
