.navigate {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 48px;
  left: 50%;
  width: calc(100vw - 48px);
  height: 60px;
  max-width: 500px;
  background-color: var(--background-color);
  transform: translateX(-50%) translateY(calc(48px + 66px));
  -webkit-transform: translateX(-50%) translateY(calc(48px + 66px));
  -moz-transform: translateX(-50%) translateY(calc(48px + 66px));
  -ms-transform: translateX(-50%) translateY(calc(48px + 66px));
  -o-transform: translateX(-50%) translateY(calc(48px + 66px));

  &.show {
    transform: translateX(-50%) translateY(0) !important;
    -webkit-transform: translateX(-50%) translateY(0) !important;
    -moz-transform: translateX(-50%) translateY(0) !important;
    -ms-transform: translateX(-50%) translateY(0) !important;
    -o-transform: translateX(-50%) translateY(0) !important;
  }

  > .navigate-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    > .active-square {
      position: absolute;
      top: 0;
      left: 0;
      width: 25%;
      height: 100%;
      background-color: var(--gray-color-12);
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }

    a {
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 25%;
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--gray-color-10);

      $border-width: 3px;
      $button-active-height: 3px;
      &:first-child {
        border-left: $border-width solid var(--border-color);
        border-top: $border-width solid var(--border-color);
        border-bottom: $border-width solid var(--border-color);
        box-shadow: 0 0 0 var(--border-color);
        border-radius: 12px 0 0 12px;
        -webkit-border-radius: 12px 0 0 12px;
        -moz-border-radius: 12px 0 0 12px;
        -ms-border-radius: 12px 0 0 12px;
        -o-border-radius: 12px 0 0 12px;
      }
      &:not(:first-child):not(:last-child) {
        border-top: $border-width solid var(--border-color);
        border-bottom: $border-width solid var(--border-color);
        box-shadow: 0 0 0 var(--border-color);
      }

      &:last-child {
        border-right: $border-width solid var(--border-color);
        border-top: $border-width solid var(--border-color);
        border-bottom: $border-width solid var(--border-color);
        box-shadow: 0 0 0 var(--border-color);
        border-radius: 0 12px 12px 0;
        -webkit-border-radius: 0 12px 12px 0;
        -moz-border-radius: 0 12px 12px 0;
        -ms-border-radius: 0 12px 12px 0;
        -o-border-radius: 0 12px 12px 0;
      }

      &:hover {
        border: $border-width solid var(--border-hover-color) !important;
        box-shadow: 0 calc($button-active-height / 2) 0
          var(--border-hover-color) !important;
        transform: translateY(calc(0px - $button-active-height / 2));
        -webkit-transform: translateY(calc(0px - $button-active-height / 2));
        -moz-transform: translateY(calc(0px - $button-active-height / 2));
        -ms-transform: translateY(calc(0px - $button-active-height / 2));
        -o-transform: translateY(calc(0px - $button-active-height / 2));
      }

      &[data-active='true'] {
        color: var(--primary-color);
        background-color: var(--primary-background-color);
        border: $border-width solid var(--primary-color) !important;
        box-shadow: 0 $button-active-height 0 var(--primary-color) !important;
        transform: translateY(calc(0px - $button-active-height));
        -webkit-transform: translateY(calc(0px - $button-active-height));
        -moz-transform: translateY(calc(0px - $button-active-height));
        -ms-transform: translateY(calc(0px - $button-active-height));
        -o-transform: translateY(calc(0px - $button-active-height));

        &:active {
          box-shadow: 0 0 0 var(--primary-color) !important;
          transform: translateY(0) !important;
          -webkit-transform: translateY(0) !important;
          -moz-transform: translateY(0) !important;
          -ms-transform: translateY(0) !important;
          -o-transform: translateY(0) !important;
        }
      }
      span {
        font-size: 1.6rem;
      }
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
  }
}
